/DateAndTime/nbproject/private/
/DateAndTime/build/
/SystemLang/nbproject/private/
/SystemLang/build/
/SystemResolution/nbproject/private/
/SystemResolution/build/
/Exercise001/nbproject/private/
/Exercise001/build/
/SwingHelloWorld/nbproject/private/
/SwingHelloWorld/build/
/JavaFXHelloWorld/nbproject/private/
/JavaFXHelloWorld/build/
/JavaFXHelloWorld/dist/
/SwingHelloWorld/dist/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/SwingClock/nbproject/private/
/javaFX/nbproject/private/
/JavaFX/nbproject/private/
/JavaTest/nbproject/private/
/SwingClock/build/
/SwingLang/nbproject/private/
/SwingLang/build/
/SwingResolution/nbproject/private/
/SwingResolution/build/
/primitiveTypes/nbproject/private/
/primitiveTypes/build/
/TestTypes/nbproject/private/
/TestTypes/build/
/additionSwing/nbproject/private/
/additionSwing/build/
/UserBirthday/nbproject/private/
/UserBirthday/build/
/TrainingPrimativeTypes/nbproject/private/
/TrainingPrimativeTypes/build/
/MathOperators/nbproject/private/
/MathOperators/build/
/SwingMathOperators/nbproject/private/
/SwingMathOperators/build/
/MathClass/nbproject/private/
/UsingMathClass/nbproject/private/
/UsingMathClass/build/
/TrainingJava/nbproject/private/
/TrainingJava/build/
/SuperCalc/nbproject/private/
/SuperCalc/build/
/ternary operator/nbproject/private/
/TernaryOperator/nbproject/private/
/TernaryOperator/build/
/relational operators/nbproject/private/
/RelationalOperators/nbproject/private/
/RelationalOperators/build/
/LogicOperators/nbproject/private/
/LogicOperators/build/
/SwingFrameUsingOperators/nbproject/private/
/SwingFrameUsingOperators/build/
/GuessRandomNumber/nbproject/private/
/GuessRandomNumber/build/
/ConditionalStructures/nbproject/private/
/ConditionalStructures/build/
/ConditionalStructures/dist/
/VerificatorEvenOrOdd/nbproject/private/
/VerificatorEvenOrOdd/build/
/SecondDegreeEquation/nbproject/private/
/SecondDegreeEquation/build/
/VoteVerificator/nbproject/private/
/VoteVerificator/build/
/SwichCase/nbproject/private/
/SwichCase/build/
/TriangleVerificator/nbproject/private/
/TriangleVerificator/build/
/StructuresOfRepeat/nbproject/private/
/StructuresOfRepeat/build/
/NumberCounter/nbproject/private/
/NumberCounter/build/
/FactorialOfTheNumber/nbproject/private/
/FactorialOfTheNumber/build/
/FactorialOfTheNumber2.0/nbproject/private/
/FactorialOfTheNumber2.0/build/
/StructuresOfRepeat2/nbproject/private/
/StructuresOfRepeat2/build/
/AdditionUserNumbers/nbproject/private/
/AdditionUserNumbers/build/
/AdditonScreen/nbproject/private/
/JOptionPane/nbproject/private/
/JOptionPane/build/
/Test/nbproject/private/
/StructuresOfRepeat3/nbproject/private/
/StructuresOfRepeat3/build/
/RepeatUserNumber/nbproject/private/
/RepeatUserNumber/build/
/JavaVectors/nbproject/private/
/JavaVectors/build/
/JavaVectors2/nbproject/private/
/JavaVectors2/build/
/JavaVectors3/nbproject/private/
/JavaVectors3/build/
/JavaVectors3/dist/
/JavaArrays/nbproject/private/
/JavaVectors4/nbproject/private/
/ava/nbproject/private/
/JavaMethods/nbproject/private/
/JavaMethods/build/
/JavaMethods2/nbproject/private/
/JavaMethods2/build/
