/DateAndTime/nbproject/private/
/DateAndTime/build/
/SystemLang/nbproject/private/
/SystemLang/build/
/SystemResolution/nbproject/private/
/SystemResolution/build/
/Exercise001/nbproject/private/
/Exercise001/build/
/SwingHelloWorld/nbproject/private/
/SwingHelloWorld/build/
/JavaFXHelloWorld/nbproject/private/
/JavaFXHelloWorld/build/
/JavaFXHelloWorld/dist/
/SwingHelloWorld/dist/
/JavaFXApplication/nbproject/private/
/JavaFXApplication/build/
/JavaFXApplication/dist/
/SwingClock/nbproject/private/
/javaFX/nbproject/private/
/JavaFX/nbproject/private/
/JavaTest/nbproject/private/
/SwingClock/build/
/SwingLang/nbproject/private/
/SwingLang/build/
/SwingResolution/nbproject/private/
/SwingResolution/build/
