/DateAndTime/nbproject/private/
/DateAndTime/build/
/SystemLang/nbproject/private/
/SystemLang/build/
/SystemResolution/nbproject/private/
/SystemResolution/build/
/Exercise001/nbproject/private/
/Exercise001/build/
